<form class="form-horizontal">
  <div class="row">
    <h4>General</h4>
    <div class="form-group col-md-4">
      <label class="col-md-4 control-label">Interval</label>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          ng-model="curWidget.config.option.ctgLabelInterval"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <h4>Text</h4>
    <div class="form-group col-md-4">
      <label class="col-md-4 control-label">Color</label>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          ng-model="curWidget.config.option.ctgLabelColor"
        />
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="col-md-4 control-label">Font Size</label>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          ng-model="curWidget.config.option.ctgLabelFontSize"
        />
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="col-md-4 control-label">Rotate</label>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          ng-model="curWidget.config.option.ctgLabelRotate"
        />
      </div>
    </div>
  </div>
</form>
